{{- if .Values.canary.enabled -}}
apiVersion: flagger.app/v1beta1
kind: Canary
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  # deployment reference
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "name" . }}
  # HPA reference (optional)
  {{- if .Values.autoscaling.enabled }}
  autoscalerRef:
    apiVersion: autoscaling/v2beta2
    kind: HorizontalPodAutoscaler
    name: {{ include "name" . }}
  {{- end }}
  # the maximum time in seconds for the canary deployment
  # to make progress before it is rollback (default 600s)
  progressDeadlineSeconds: 120
  service:
    # ClusterIP port number
    port: {{ .Values.service.port }}
    # container port number or name (optional)
    targetPort: http
  analysis:
    webhooks:
      - name: "Event Log"
        type: event
        url: http://logger.flagger
    # schedule interval (default 60s)
    interval: 30s
    # canary increment step
    # percentage (0-100)
    stepWeight: 5
    # max traffic percentage routed to canary
    # percentage (0-100)
    maxWeight: 50
    # canary decrement step percenate
    stepWeightPromotion: 15
    # Linkerd Prometheus checks
    # max number of failed metric checks before rollback
    threshold: 5
    metrics:
    - name: request-success-rate
      # minimum req success rate (non 5xx responses)
      # percentage (0-100)
      thresholdRange:
        min: 99
      interval: 1m
    - name: request-duration
      # maximum req duration P99
      # milliseconds
      thresholdRange:
        max: 500
      interval: 30s
{{- end -}}
